<div class="main">
    <div class="eloP">
        <span id="IconeAA"></span>
        <div id="nomeAA"></div>
        <br>
        <br>
        <span id="levelAA"></span>
        <span class="eloIconeAA"></span>
        <span class="ranqueado">
            <span class="queue"></span>
        </span>
        <br>
        <span class="eloAA"></span>
        <span class="posicaoAA"></span>
        <br>
        <span class="pontosA"></span>
        <br>
        <div id="art"></div>
        <div id="style"></div>
    </div>
</div>